{# This is Quizzy's page that displays a form that allows users to add their choices #}

{% extends "base.html.twig" %}

{% block content %}
<p id = "question">{{ userQuestion }}</p>
{% for error in errors %}
    <p>{{ error }}</p>
{% endfor %}
<p>Ecris tes choix ici (entre 1 et 100 caractères) :</p>
<form method = "post" action = "">
{% for i in 1.. numberOfChoices %}
    <textarea name = "userChoices[{{i}}][answer]" id = "userChoice{{i}}"></textarea>
    <select name = "userChoices[{{i}}][validity]" id = "choiceValidity{{i}}">
        <option value = "1">Bonne réponse ! :D</option>
        <option value = "0">Mauvaise réponse ! :(</option>
    </select>
{% endfor %}
    <button>Confirme tes choix !</button>
</form>
{% endblock %}