{# This is Quizzy's main page view #}

{% extends "base.html.twig" %}

{% block content %}
<form method = "post" id = "questionsAndAnswers" action = "result">
    <p class = "error">{{ error }}</p>
    <p class = "question">{{ question.question }}</p>
    {% for choice in choices %}
    <div class = "choiceBox" id = "choiceBox{{ choice.id }}">
        {# For now, you only need to select one correct choice to "win" #}
        {# You are redirected to the result page as soon as you select an answer #}
        <input name = "choice" value = "{{ choice.id }}" type = "checkbox" class = "choice" 
        id = "choice{{ choice.id }}" onchange="this.form.submit()">
        <label for = "choice{{ choice.id }}" class = "choice">{{ choice.answer }}</label>
    </div>
    {% endfor %}
</form>
<a href = "index" id = "passButton">¯\_(ツ)_/¯ Passer ¯\_(ツ)_/¯</a>
{{ parent() }}
{% endblock %}