{# This is Quizzy's main page view #}

{% extends "base.html.twig" %}

{% block content %}
<p id = "winOrFailMessage"></p>
<form method = "post" id = "questionsAndAnswers">
    <p class = "error">{{ error }}</p>
    {% endfor %}
    <p class = "question">{{ question.question }}</p>
    {% for choice in choices %}
    <div class = "choiceBox" id = "choiceBox{{ choice.id }}">
        <input type = "checkbox" class = "choice" id = "choice{{ choice.id }}" value = "{{choice.validity}}">
        <label for = "choice{{ choice.id }}" class = "choice">{{ choice.answer }}</label>
    </div>
    {% endfor %}
</form>
<a href = "index" id = "passButton">¯\_(ツ)_/¯ Passer ¯\_(ツ)_/¯</a>
{{ parent() }}
{% endblock %}

{% block scripts %}
<script src = "/assets/scripts/indexScripts.js"></script>
{% endblock %}